.detail {
    display: flex;
}

.detail__inner {
    display: block;
}

.detail__title {
    font-size: 24px;
}

.detail__btn {
    display: flex;
}

.detail__downloadBtn {
    background-color: #6ac045;
    display: block;
    font-weight: bold;
    color: #fff;
    padding: 7px 5px;
    margin: 0 auto;
}

.detail__watchNowBtn {
    background-color: #00FFE7A3;
    display: block;
    font-weight: bold;
    color: #fff;
    padding: 7px 5px;
    margin: 0 auto;
}
